
<a href="/DashboardRedir" class="btn btn-primary">Back to Like Center!</a><p>Name: @ViewBag.ThisUser.Name</p>
<p>Alias: @ViewBag.ThisUser.Alias</p>
<p>Email: @ViewBag.ThisUser.Email</p>

<p>Total Number of Likes @ViewBag.ThisUser.LikeCounter</p>
<p>Total Number of Posts @ViewBag.ThisUsersPosts.Count</p>